body {
    background-color: rgb(4, 59, 12);
    padding : 10px;
}
.box{
    height: 100px;
    width: 150px;
    background-color: lightblue;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
    transition: transform 0.5s ease ;
    display: inline-block;
    /* display: inline-block; - block level element - inline element 
    display: block ;--- inline element -> block level element
     */
}
.TranslateX:hover{
    transform: translateX(10px);
}
.TranslateY:hover{
    transform: translateY(-10px);
}
.TranslateXY:hover{
    transform: translate(15px,15px);
    /* x,y */
}
.TranslateZ:hover{
    transform: perspective(500px) translateZ(50px);
}
.Rotate:hover{
    transform: rotate(50deg);
    transition: 3s ease;
}
.RotateX:hover{
    transform: perspective(200px) rotateX(50deg);
    transition: 1s ease;
}
.rotateY:hover{
    transform: perspective(100px) rotateY(50deg);
    transition: 1s ease;
}
.RotateZ:hover{
    transform: rotateZ(50deg);
}
.rotate3d:hover{
    transform: perspective(200px) rotate3d(2,5,2,50deg);
    transition: 1s ease;
}
.skewX:hover{
    transform: skewX(20deg);
}
.skewY:hover{
    transform: skewY(20deg);
}