.container{
    height: 300px;
    width: 100%;
    /* text-align : justify; */
    /* border-style: 10px solid rgb(0, 0, 0); */
    /* border: 5px dashed red; */
    border: 5px solid rgb(0, 0, 0);
}