.container{
    height: 1000px;
    width: 1000px;
    /* border-radius: 20px; */
    background-color: rgb(184, 74, 74);
    text-align: center;
    font-weight: bold;
    font-size:20px;
    border: 2px solid black;
    display: flex ;
    flex-direction: row;
    /* flex-wrap: wrap; -it also has some description which i will get into deep some other day*/
    justify-content: space-evenly ;
    /* property must be flex for justify content
    and it must have extra space / gap in width */
    align-items: center ;
     /* property must be flex for align items*/

}

.box{
    width: 200px;
    height: 200px;
    background-color: red;
    border: 1px solid black;
    border-radius: 10px;
    align-content: center;
     /* property must be flex for align content*/
}

/* there is flex code generator as well for that */
