.container{
    height: 200px;
    width: 200px;
    background-color: red;
    text-align: center;
    border: 1px solid black;
    animation-name : myanimation;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position : relative;
    animation: myanimation 5s linear 0s infinite ;
    /* this is short form of this container */
}
.container:hover{
    animation-play-state: paused;
}
@keyframes myanimation{
    0%{
        background-color: red;
        left: 0px;
        border-radius: 0px;
        top: 0px;
        left: 0px;
    }
    25%{
        background-color: blue;
        /* left: 200px; */
        border-radius: 25%;
        /* right: 0px; */
        left: 900px;
        top:0px;
    }
    50%{
        background-color: green;
        /* left: 200px; */
        border-radius: 50%;
        top: 300px;
        left: 900px;
    }
    75%{
        background-color: yellow;
        
        border-radius: 25%;
        left:0px;
        top: 300px;
    }
    100%{
        background-color: red;
        /* left: 0px; */
        border-radius: 0px;
        /* bottom: 300px; */
        top: 0px;
        left: 0px;
    }
}
