.container{
    height: 600px;
    width: 100%;
    border: 2px solid black;
    background-color: rgb(185, 185, 185);
    display: grid ;
    grid-template-columns: 2fr 1fr 1fr ;
    /* grid-template-columns: 100px 100px 100px ; */
    /* grid-template-rows: auto;  this is to giev the row size*/
}
.box{
    /* height: 100px;
    width: 100px; */
    border: 1px solid black;
    border-radius : 10px;
    text-align : center;
    font-size : 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    /* justify-content: center; */

}

/* 
Create coloumns : grid-template-columns: 100px 100px 100px ;
create rows : grid-template-rows: 100px 100px 100px ;

*/