.container {
    border : 3px solid blue;
    padding : 10px;
    padding-left: 40px;
}

.container1{
    padding-top: 30px ;
    padding-bottom : 30px ;
}

h2{
    text-align: center;
    border : 3px solid black;
    padding: 20px;
    margin: 10px;

}

.marginclass{
    margin: 10px;
    border : 3px solid black;
    padding-left: 20px;
}
.box{
    margin : 0px;
    border : 3px solid red;
    padding : 25px;
    text-align: center;
}
.box2{
    margin-left: 50%;
}
.box1{
    margin-right: 50%;
}