body {
    background-color: antiquewhite;
    padding : 10px;
}
.box{
    height: 100px;
    width: 150px;
    background-color: lightblue;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
    transition: transform 0.5s ease ;
    display: inline-block;
    /* display: inline-block; - block level element - inline element 
    display: block ;--- inline element -> block level element
     */
}
.TranslateX:hover{
    transform: translateX(10px);
}
.TranslateY:hover{
    transform: translateY(10px);
}
.TranslateXY:hover{
    transform: translate(15px,15px);
    /* x,y */
}
.TranslateZ:hover{
    transform: perspective(200px) translateZ(50px);
}